@import './colors.css';

.hero {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 100%;
}

.hero::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url('../../media/img/burrito.jpg') no-repeat center -50px;
  background-size: cover;
  transform: rotate(180deg);
}

.hero__layer {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.hero__nav {
  padding-top: 1rem;
}

.hero__nav ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.hero__nav li {
  background-color: #ffffff99;
  padding: 0.75rem 1.5rem;
  font-size: 14px;
  border-radius: 2px;
  font-family: 'Rubik', sans-serif;
  color: var(--gray);
  margin: 0 1rem;
  transition: background 0.25s ease-in-out, color 0.25s ease;
}

.hero__nav li:last-of-type {
  margin-right: 0;
}

.hero__nav li:hover {
  cursor: pointer;
  background-color: #ffffff88;
  color: var(--dark);
}

.location {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}

.location__pin {
  background-color: rgba(0, 0, 0, 0.45);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.location__st {
  color: white;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  max-height: 40px;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  font-weight: 100;
}

header.container {
  width: calc(100% - 20rem);
  height: 200px;
  position: relative;
}

.details {
  position: absolute;
  top: -6rem;
  height: 100%;
  width: 100%;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0px -0.1px rgba(0, 0, 0, 0), 0 0px 1.4px rgba(0, 0, 0, 0.001),
    0 0px 5.6px rgba(0, 0, 0, 0.001), 0 0px 14.1px rgba(0, 0, 0, 0.002),
    0 0px 31.8px rgba(0, 0, 0, 0.004), 0 0px 80px rgba(0, 0, 0, 0.01);
  padding: 2rem;
}

.details__logo {
  width: 150px;
  height: 150px;
  float: left;
}

.details__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  float: left;
  width: 69%;
  max-width: 700px;
  height: 100%;
  margin-left: 1.5rem;
}

.details__name {
  margin-bottom: 0.5rem;
}

.details__street {
  margin-bottom: 1rem;
  font-weight: 100;
  color: var(--light-text);
}

.details__is-open {
  float: right;
}
